@CHARSET "UTF-8";

@media (max-width: 480px) {
	form div.modal-body label {
		display: none;
	}
	
	form div.modal-body span {
		width: 100%;
	}
	
	form div.modal-body .group-gender {
		width: 100%;
	}
	
	form div.modal-body .group-gender input {
		width: auto;
	}
	
	
	form div.modal-body select {
		width: 85%;
	}
	
	#modalAdd div.modal-footer .btn + .btn {
		margin-left: 20%;
	}
	
	form div.modal-footer .btn {
	}
}

@media(max-width:767px){
	div.ColVis {
		float: none;
	}
	
	#modalAdd div.modal-footer .btn + .btn {
		margin-left: 25%;
	}
	
	
}
@media(min-width:768px){
	#modalAdd div.modal-footer .btn + .btn {
		margin-left: 25%;
	}
	
	#update-infor form label {
		text-align: right;
	}
	
	#update-infor .row {
		margin-left: -75px;
		margin-right: 50px;
	}
}
@media(min-width:992px){
	
}
@media(min-width:1200px){
	
}

/* @import "lesshat";

@distance:40px; distance between stacked modals

@modal-translate-z: -340px; The first modal translateZ value

.transform(@translateZ) {
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(@translateZ);
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(@translateZ);
  -o-transform: scale(0.8) rotateY(45deg) translateZ(@translateZ);
  transform: scale(0.8) rotateY(45deg) translateZ(@translateZ);
}

.preserve-3d(){
  -webkit-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  transform-style:preserve-3d;
}

.perspective(@perspective){
  -webkit-perspective:@perspective;
  -moz-perspective:@perspective;
  -ms-perspective:@perspective;
  -o-perspective:@perspective;
  perspective:@perspective;
}
.container{
  margin:5em auto;
}

.modal.in{
  .perspective(2000px);
  
  .modal-dialog{
    &.aside{
      .transform(@modal-translate-z);
      .preserve-3d();
      
      &.aside-1{
        .transform(calc(@modal-translate-z + @distance));
      }
      &.aside-2{
        .transform(calc(@modal-translate-z + (@distance * 2)));
      }
      &.aside-3{
        .transform(calc(@modal-translate-z + (@distance * 3)));
      }
      &.aside-4{
        .transform(calc(@modal-translate-z + (@distance * 4)));
      }   
      &.aside-5{
        .transform(calc(@modal-translate-z + (@distance * 5)));
      }
    }
  }
}
 */

.mt50 {
	margin-top: 50px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml15 {
	margin-left: 20px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}

.fa-1x5 {
	font-size: 1.5em;
}

.fa-1x2 {
	font-size: 1.2em;
}


#main_content button.btn-hover:hover {
	background-color: white !important;
}

.DTTT_Print .content-wrapper , .DTTT_Print > .wrapper{
	background: none;
}

.DTTT_Print  .content-wrapper {
	margin: 20px auto;
	width: 1080px;
}

div.ColVis {
	margin: 0;
	text-align: center;
	display: inline-block;
}

div.containner > div > div {
	margin: 5px 0;
}

#table_filter {
	text-align: center !important;
	float: none;
}

#table_filter label {
	display: block;
	text-align: center !important;
}

#table_filter input {
	width: 70%;
}

#modalAdd, #modalUpdate {
	color: black;
}

.modal-header {
	border-bottom-color: #3C8DBC;
}

.modal-footer {
	border-top-color: #3C8DBC;
}

div.modal-body div.row:first-child {
	margin: 0 0 10px 0;
}

div.modal-body div.row:last-child {
	margin: 10px 0 0 0;
}

div.modal-body div.row {
	margin: 10px 0;
}

.modal-body {
	padding: 20px 5px;
}

#addCity {
	color: black;
}

#addDistrict {
	color: black;
}


#modalAdd select, #modalUpdate select {
	height: 24px;
}

#modalUpdate div.modal-footer .btn {
	float: right;
	margin-left: 50px;
}

.modalUpdate label, .modalAdd label {
	height: 34px;
	line-height: 34px;
}	

.modal .chosen-container a.chosen-single {
	color: black !important;
}

a.chosen-single  {
	height: 30px !important;
	padding: 2px 10px !important;
	margin-left: 15px;
}

.btnAdd {
	height: 30px;
}

.nav-tabs > li > a {
	border-radius: 10px 10px 0 0;
}

.update-detail-info {
	font-size: 15px;
}

#myTab-1 li {
	font-size: 13px;
}

#myTab-1 li.active {
	font-weight: bold;
}

#myTabContent-1 label {
	height: 34px;
	line-height: 34px;
}

#myTabContent-1 .panel-body h5 {
	font-weight: bold;
}

#links a {
	margin-right: 5px;
	margin-bottom: 5px;
}

#table1_filter {
	text-align: center !important;
	float: none;
}

#table1_filter label {
	display: block;
	text-align: center !important;
}

#table1_filter input {
	width: 70%;
}

#table2_filter {
	text-align: center !important;
	float: none;
}

#table2_filter label {
	display: block;
	text-align: center !important;
}

#table2_filter input {
	width: 70%;
}
