<a class="btn btn-default btn-sm" ng-if="isShow()" ng-click="showModal()">
    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;
    <span class="hidden-xs ng-scope">Send SMS</span>
</a>

<script type="text/ng-template" id="sendSmsModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Send SMS</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div style="margin-bottom: 5px;">Send SMS to: <b>{{ names }}</b></div>
        <hr/>
        <textarea ng-model="message" class="form-control" rows="10" style="resize: none;"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="!message" ng-click="send()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
