<style>

 html, body {
     margin: 0;
     padding: 0;
     font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
     font-size: 14px;
 }

 .external-events {
     z-index: 2;
     top: 20px;
     left: 20px;
     width: 150px;
     padding: 0 10px;
     border: 1px solid #ccc;
     background: #eee;
 }

 .external-events .fc-event {
     margin: 1em 0;
     cursor: move;
 }

 .calendar-container {
     position: relative;
     z-index: 1;
     margin-left: 200px;
 }

 .calendar {
     max-width: 900px;
     margin: 20px auto;
 }
</style>

<div class="row list-header ng-scope">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Calendar</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-9 center">
        <div class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    </div>
    <div class="col-sm-3">
        <div class="external-events">
            <p><strong>Services</strong></p>
            <div ng-repeat="service in services" class="fc-event" data-id="{{ service.id }}" draggable>
                {{ service.name }}
            </div>
        </div>
    </div>
</div>
