<style>
 .wrapper {
     width: 826px;
     height: auto;
     padding: 63px 90px;
     background: #fff;
 }

 .hidden {
     display: none !important;
 }

 .list {
     min-height: 100px;
     overflow-y: auto;
 }

 .list-item {
     display: block;
     margin: 20px 10px;
     padding: 10px;
     border: 1px solid #e6e6e6;
     color: #999;
 }

 .list-item:first-child {
     margin-top: 0px;
 }

 .list-item:last-child {
     margin-bottom: 0px;
 }

 .list-item.active {
     border-width: 1px;
     border-color: #8eb852;
 }

 .img > img {
     width:100%;
     height:100%;
     object-fit: contain;
 }

 .service-item .img {
     display: inline-block;
     height: 48px;
     width: 48px;

     margin-right: 10px;
     background: #eee;
 }

 .service-item .text {
     display: inline-flex;
     align-items: center;
 }

 .employee-item .img {
     display: inline-block;
     height: 24px;
     width: 24px;

     margin-right: 10px;
     background: #eee;
 }

 .employee-item .text {
     display: inline-flex;
     align-items: center;
     font-size: 12px;
 }

 .flex {
     display: flex;
     align-items: center;
 }

 .space-between {
     justify-content: space-between;
 }

 .w-10 {
     width: 10%;
 }

 .w-20 {
     width: 20%;
 }

 .w-30 {
     width: 30%;
 }

 .w-40 {
     width: 40%;
 }

 .w-50 {
     width: 50%;
 }

 .w-60 {
     width: 60%;
 }

 .w-70 {
     width: 70%;
 }

 .w-80 {
     width: 80%;
 }

 .w-90 {
     width: 90%;
 }

 .w-100 {
     width: 100%;
 }

 .flex-item {
     flex-grow: 1;
 }

 .clickable {
     cursor: pointer;
     user-select: none;
 }

 input[date-range-picker] {
     height: 100%;
     width: 100%;

     padding: 10px;
     font-size: 12px;
     width: 88px;

     align-self: center;
 }

 input.error {
     border: 1px solid red;
 }

 .summary {
     width: 60%;
     margin: auto;
 }

 .summary th {
     padding: 11px 0;
     width: 30%;
     font-weight: bold;
     text-align: left;
     vertical-align: top;
 }

 .summary td {
     vertical-align: top;
     padding: 11px 0;
 }

 .confirm {
     width: 60%;
     margin: auto;
     margin-top: 15px;
 }

 .confirm > label {
     display: block;
     margin-bottom: 5px;
 }

 .actions > ul > li.disabled > a {
     background: #aaa;
     pointer-events: none;
 }

 ul.navigation > li.disabled > a {
     filter: grayscale(100%);
     pointer-events: none;
 }
</style>

<div class="wrapper">
    <form name="templateForm" class="wizard" novalidate>
        <div class="content">
            <section>
                <h4></h4>
                <h3>Check in</h3>
                <div class="form-row">
                    <div class="form-holder w-100">
                        <i class="zmdi zmdi-account"></i>
                        <input type="text" class="form-control" ng-class="{ error: templateForm.name.$touched && templateForm.name.$invalid }"
                               placeholder="Last Name" name="name" ng-model="form.info.name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-holder w-100">
                        <i class="zmdi zmdi-account"></i>
                        <input type="text" class="form-control" ng-class="{ error: templateForm.phone.$touched && templateForm.phone.$invalid }"
                               placeholder="Phone Number" name="phone" ng-model="form.info.phone" required>
                    </div>
                </div>
            </section>
        </div>

        <div class="confirm">
            <label><input ng-model="form.confirm.term" type="checkbox" /> I have read and understand the <a href="">Privacy policy</a></label>
            <label><input ng-model="form.confirm.cookie" type="checkbox" /> I have read and agree to the <a href="">Term Of Use</a> and <a href="">Cookies Policy</a></label>
        </div>

        <div class="actions clearfix">
            <ul role="menu" class="step-4">
                <li class="hidden"></li>
		<li ng-class="{ disabled: templateForm.$invalid || !(form.confirm.term && form.confirm.cookie) }">
                    <a ng-click="done()" role="menuitem">Check in</a>
		</li>
            </ul>
        </div>
    </form>
</div>